
body {
    margin: 0px;
    font-family:'Roboto', sans-serif;

}

.header-container {
    font-size: 24px;
    color: #F9FAF8;
    background: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    
}

.header-container > * {
    display: flex;
    
}

ul {
    list-style-type: none;
    gap: 20px;
}

a,
.hero-text {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 100;
    font-size: 18px;
}

.hero-container {
    color: #F9FAF8;
    background: #1F2937;
    display: flex;
    padding: 80px;
    justify-content: center;
}

img {
    width: 500px;
    height: auto;

}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 450px;
    margin-right: 50px;
    gap: 8px;
}

button {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
}

.random-container {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 40px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.box-one,
.box-two,
.box-three,
.box-four {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.text-one,
.text-two,
.text-three,
.text-four {
    width: 150px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 100px;
}

.quote-container {
    display: flex;
    padding: 100px;
    background: #E5E7EB;
    flex: 0;
    justify-content: center;
    align-items: center;
}

.inspiring {
    display:flex;
    flex: 0;
    width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.thor {
    display: flex;
    justify-content: end;
    width: 780px;
    font-size: larger;
    font-weight: 800;
}




