
body {
    margin: 0px;
    font-family:'Roboto', sans-serif;

}

.header-container {
    font-size: 24px;
    color: #F9FAF8;
    background: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    
}

.header-container > * {
    display: flex;
    
}

ul {
    list-style-type: none;
    gap: 20px;
}

a,
.hero-text {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 100;
    font-size: 18px;
    font
}

.hero-container {
    color: #F9FAF8;
    background: #1F2937;
    display: flex;
    padding: 80px;
    justify-content: center;
}

img {
    width: 500px;
    height: auto;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 450px;
    margin-right: 50px;
    gap: 8px;
}

button {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
}

